<!doctype HTML>
<html>
<script src="{{ url_for('static', filename='vendor/aframe/build/aframe.min.js')}}"></script>
<script src="{{ url_for('static', filename='build/aframe-ar.js')}}"></script>
<!-- <script src="{{ url_for('static', filename='three.js/')}}"></script> -->
<!-- <script>ARjs.Context.baseURL = '../static/three.js/'</script> -->
<body style='margin : 0px; overflow: hidden;'>
    
        <a-scene stats embedded arjs='sourceType: webcam; detectionMode: mono; maxDetectionRate: 30; canvasWidth: 240; canvasHeight: 180'>
    <a-marker preset="hiro">
        <a-entity
                rotation="-90 0 0"
                position="5 0 0"
                material="opacity:0"
                text="width: 4;color:black;width:10%;height:10%; value: This text will be 4 units wide."
        
        ></a-entity>
    </a-marker>
    <a-entity camera></a-entity>
</a-scene>

</body>
</html>

